# HaremBatch Git Ignore
__pycache__/
*.py[cod]
*$py.class
.venv/
venv/
ENV/

# User Data
/output/*
!/output/.gitkeep
/characters/*
!/characters/.gitkeep
/styles/*
!/styles/.gitkeep
/presets/*
!/presets/.gitkeep
/templates/*
!/templates/.gitkeep
/inputs/*
!/inputs/.gitkeep

/config.json
/generation_config.json
/_lastgen.json
